absl-py==0.7.1
ad3==2.2.1
aiohttp==3.5.4
aionewsapi==1.1.2
altgraph==0.16.1
appdirs==1.4.3
approx-dates==0.0.1
argh==0.26.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
auto-py-to-exe==2.5.3
autobahn==20.4.3
Automat==0.7.0
aylien-news-api==1.0.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
boto==2.49.0
boto3==1.9.156
botocore==1.12.156
bottle==0.12.16
bottle-websocket==0.2.9
bs4==0.0.1
bz2file==0.98
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.1
config==0.4.2
configparser==3.7.4
constantly==15.1.0
cryptography==2.9.2
csscompressor==0.9.5
cssselect==1.0.3
cycler==0.10.0
Cython==0.29.7
decorator==4.4.0
defusedxml==0.6.0
densratio==0.2.2
Django==2.2.1
django-php==0.1
django-politico-fake-news==1.0.6
django-taggit==1.2.0
django-taggit-serializer==0.1.7
djangorestframework==3.11.0
docopt==0.6.2
docutils==0.14
Eel==0.10.4
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.0.1
eventregistry==8.6
everypolitician==0.0.13
everypolitician-popolo==0.0.11
extract-zip==1.0.0
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.0.3
Flask-Cors==3.0.8
Flask-MySQL==1.4.0
Flask-MySQLdb==0.2.0
future==0.17.1
gast==0.2.2
gensim==3.7.3
geocoder==1.38.1
get==2019.4.13
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
grpcio==1.20.1
h5py==2.9.0
html5lib==1.0.1
hyperlink==19.0.0
idna==2.5
incremental==17.5.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isass==0.1.14
isort==4.3.20
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.3
jieba==0.39
jieba3k==0.35.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jplephem==2.14
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiteconnect==3.8.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libsass==0.18.0
lunardate==0.2.0
lxml==4.3.3
macholib==1.11
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==2.19.2
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
more-itertools==7.0.0
multidict==4.5.2
mysql==0.0.2
mysql-client==0.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.16
mysql-connector-python-rf==2.2.2
mysqlclient==1.4.6
nbconvert==5.5.0
nbformat==4.4.0
news==1.0
news-api==1.1.0
newsapi==0.1.1
newsapi-cli==1.2.1
newsapi-python==0.2.3
newspaper3k==0.2.8
newsreader==0.3.0
nltk==3.4.1
notebook==5.7.8
numpy==1.16.3
openpyxl==3.0.3
os-sys==1.9.1
pandas==1.0.3
pandocfilters==1.4.2
parsel==1.5.1
parso==0.4.0
passlib==1.7.1
pathtools==0.1.2
pbkdf2==1.3
pefile==2019.4.18
php==1.2.0
pickleshare==0.7.5
Pillow==6.0.0
pip-autoremove==0.9.1
pipenv==2018.11.26
pluggy==0.11.0
post==2019.4.13
progress==1.5
progressbar==2.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
Protego==0.1.16
protobuf==3.7.1
psutil==5.6.2
public==2019.4.13
py==1.8.0
py-ms-cognitive==0.4.0
py-mysql-connector==0.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pyCalverter==1.6.1
pycparser==2.20
pydevd==1.6.1
PyDispatcher==2.0.5
pygame==1.9.6
Pygments==2.4.0
pygubu==0.9.8.2
PyHamcrest==1.9.0
PyInstaller==3.4
pylab-sdk==1.3.2
pylint==2.3.1
pyluach==1.0.1
pymlconf==1.0.2
PyMySQL==0.9.3
pynput==1.4.2
pyOpenSSL==19.1.0
pyparsing==2.4.0
PyQt5==5.13.0
PyQt5-sip==12.7.2
pyqt5-tools==5.13.0.1.5
pyrsistent==0.15.2
pysass==0.1.0
pyScss==1.3.5
pysolr==3.9.0
pyspeedtest==1.2.7
pytest==4.5.0
pytest-pydev==0.1.1
python-dateutil==2.8.0
python-dotenv==0.13.0
python-jsonrpc-server==0.1.2
python-language-server==0.26.1
python-newsapi==1.0.2
python-pipeline==1.0
python-qt==0.50
pytz==2019.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.4
query-string==2019.4.13
queuelib==1.5.0
ratelim==0.1.6
redis==3.2.1
request==2019.4.13
requests==2.17.1
requests-cache==0.5.2
requests-download==0.1.2
requests-file==1.4.3
s3transfer==0.2.0
savepagenow==0.0.13
schedule==0.6.0
scikit-learn==0.21.1
scipy==1.3.0
Scrapy==2.0.1
scrapy-xlsx==0.1.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
sgp4==2.11
six==1.15.0
skyfield==1.20
skyfield-data==1.1.0
smart-open==1.8.3
snownlp==0.12.3
soupsieve==1.9.1
sports.py==2.0.10
sqlparse==0.3.0
syspath==1.1.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-editor==1.0.5
tinydb==3.13.0
tinysegmenter==0.3
tldextract==2.2.1
tornado==6.0.2
tqdm==4.32.1
traitlets==4.3.2
true-encoding==1.0.2
tuspy==0.2.4
Twisted==20.3.0
txaio==20.4.1
typed-ast==1.3.5
typeguard==2.3.1
Unidecode==1.0.23
urllib3==1.21.1
urwid==2.1.0
ushlex==0.99.1
validators==0.11.3
virtualenv==16.6.0
virtualenv-clone==0.5.3
w3lib==1.20.0
waitress==1.3.0
watchdog==0.9.0
watson-developer-cloud==0.26.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
whichcraft==0.5.2
Whoosh==2.7.4
widgetsnbextension==3.4.2
wifi==0.3.8
win-unicode-console==0.5
workalendar==9.0.1
wrapt==1.11.1
WTForms==2.3.1
xlrd==1.2.0
XlsxWriter==1.2.8
yarl==1.3.0
zope.interface==4.6.0
